
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
  }
  
  a {
    color: #6c0bf4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
  }
  
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .logo:hover{
    color:chartreuse;

  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffcc00;
  }
  
  
  .hero {
    background: #6200ea;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero span {
    color: #ffcc00;
  }
  
  .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: #ffcc00;
    color: #333;
    border-radius: 30px;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background: #e0b800;
  }
  
  .section {
    padding: 60px 0;
  }
  
  .bg-light {
    background: #f1f1f1;
  }
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
  }
  
  .skill {
    background: white;
    border-radius: 8px;
    padding: 15px 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .skill:hover{
    background-color: fuchsia;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .project-card:hover{
    background-color:hotpink;
  }
  .project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.2s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .contact-info p {
    margin-bottom: 10px;
    font-size: 1.1rem;
  }
  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 22px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #ffcc00;
  }
  